<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update Product</h1>
<h2>Are you sure?</h2>
<a href="/products">Product List</a>
<form th:action="@{/products/delete}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}" disabled></td>
        </tr>
        <tr>
            <td>Price: </td>
            <td><input type="text" th:field="*{price}" disabled></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td><input type="text" th:field="*{description}" disabled></td>
        </tr>
        <tr>
            <td>Quantity: </td>
            <td><input type="text" th:field="*{quantity}" disabled></td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>
                <select class="form-select" id="category" th:field="*{category}">
                    <option value="">--Select a Category--</option>
                    <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Product"></td>
        </tr>
    </table>
</form>
</body>
</html>