<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Product form</h1>
    <form method="post" th:object="${product}">
        <label><input type="text" th:field="*{id}" hidden></label>
        <div>
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name">
        </div>
        <div>
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" th:field="*{price}" id="price">
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" th:field="*{description}" id="description">
        </div>
        <div>
            <label for="quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" th:field="*{quantity}" id="quantity">
        </div>
        <div>
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" th:field="*{category}">
                <option value="">--Select a Category--</option>
                <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/products}" class="btn btn-info">Back</a>
    </form>
</div>
</body>
</html>