<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Form category</h1>
    <form th:action="@{/categories}" method="post" th:object="${category}">
        <label><input type="text" th:field="*{id}" hidden></label>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/categories}" class="btn btn-info">Back</a>
    </form>
</div>
</body>
</html>