<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>List categories</h1>
    <a class="btn btn-primary" th:href="@{/categories/create}">Create new Category</a>
    <a class="btn btn-primary" th:href="@{/products}">Products</a>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c,cs : ${categories}">
            <td th:text="${cs.count}"></td>
            <td th:text="${c.name}"></td>
            <td><a class="btn btn-warning" th:href="@{/categories/delete/__${c.id}__}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>