<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/customers/create">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Update</th>
<!--        <th>Delete</th>-->
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.age}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td><a th:href="@{/customers/update/__${customer.id}__ }">Update</a></td>
<!--            <td><a th:href="@{/customers/delete/__${customer.id}__ }">Delete</a></td>-->
        </tr>
    </th:block>
</table>
</body>
</html>